{% extends 'main.html' %} {% load static %} {% block content %}
<style>
    .thumbnail {
        align-items: center;
        margin: 0;
        scale: 50%;
    }
</style>
<link rel="stylesheet" href="{% static 'CSS/main.css' %}" />
<div class="row">
    <div class="col-lg-4"></div>
    <img class="thumbnail col lg 4" src="{{product.image.url}}" />
    <div class="col-lg-4"></div>
    <div class="box-element product">
        <h6><strong>{{product.name}}</strong></h6>
        <hr />
        <a class="btn btn-outline-success" href="#">View</a>
        <h4 style="float: right">
            <strong>${{product.price|floatformat:2}}</strong>
        </h4>
        <p>{{product.description| safe}}</p>
    </div>
</div>
{% endblock content %}
